/* Page Menu 1*/
@font-face {
  font-family: "shrikhandregular";
  src: url("shrikhand-regular-webfont.woff2") format("woff2"), url("shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 375px) {
  body {
    width: 100%;
    margin: 0;
  }

  h1, h2, h3 {
    font-family: robotoregular;
  }

  p, span, a, li {
    font-family: robotoregular;
  }

  /*header*/
  h1 {
    font-size: 1.6em;
  }

  .heart {
    display: flex;
    justify-content: space-between;
  }

  .heart .far {
    width: 0;
    font-size: 1.5em;
    padding-top: 30px;
    padding-right: 15%;
    margin-left: 0;
  }

  .heart .far:active {
    color: #9356DC;
    transition-duration: 0.8s;
    font-weight: 600;
  }

  #image {
    display: flex;
  }

  #image .fas {
    margin-left: 25px;
    font-size: 1.4em;
    margin-top: 34%;
    color: black;
  }

  #image img {
    width: 40%;
    margin-bottom: 10px;
    margin-top: 13px;
    margin-left: 20%;
    height: 30px;
  }

  .home {
    background-color: #f6f6f6;
    height: 340px;
    width: 100%;
  }

  .hero {
    width: 100%;
    height: 190px;
  }

  .hero img {
    height: 267px;
    width: 100%;
    object-fit: cover;
  }

  /* body */
  .entree {
    visibility: hidden;
    animation: fadein 2s 200ms;
    animation-fill-mode: forwards;
  }

  .plat {
    visibility: hidden;
    animation: fadein_2 2s 600ms;
    animation-fill-mode: forwards;
  }

  .dessert {
    visibility: hidden;
    animation: fadein_3 2s 900ms;
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  @keyframes fadein_2 {
    from {
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  @keyframes fadein_3 {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  body img {
    width: 100%;
  }

  section h1 {
    padding-left: 20px;
    font-style: italic;
    margin-bottom: 30px;
    padding-top: 7px;
    font-family: shrikhandregular;
  }

  section .far:active {
    color: #9356DC;
    font-weight: 900;
  }

  section {
    background-color: #f6f6f6;
    height: 1146px;
    border-radius: 50px 50px 0 0;
    position: relative;
  }

  h3 {
    text-align: left;
    padding-left: 15px;
    text-transform: uppercase;
    border-bottom: 3px solid #25fde9;
    width: 10%;
  }

  /* a verifier */
  .prix span {
    transition: left 1s, transform 1s;
    position: absolute;
    left: 86%;
    white-space: nowrap;
  }

  .entree:active span, .dessert:active span, .plat:active span {
    transform: translateX(-249%);
  }

  .box {
    display: none;
    background-color: #8fdeca;
    width: 20%;
    position: relative;
    left: 1px;
    border-radius: 0 15px 15px 0;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 0.5s;
    transform-origin: 100% 0%;
    animation: checked 1s;
  }

  .dessert:active .box, .plat:active .box, .entree:active .box {
    display: block;
    transform: scaleX(1);
  }
  .dessert:active > span, .plat:active > span, .entree:active > span {
    margin-right: 5px;
  }
  .dessert:active p, .plat:active p, .entree:active p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 83%;
  }
  .dessert:active .prix, .plat:active .prix, .entree:active .prix {
    width: 269px;
  }

  @-webkit-keyframes checked {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .dessert .box .rotate .fas, .plat .box .rotate .fas, .entree:hover .box .rotate .fas {
    -webkit-transition: -webkit-transform 0.9s;
    -moz-transition: -moz-transform 0.9s;
    -o-transition: -o-transform 0.9s;
    -ms-transition: -ms-transform 0.9s;
    transition: transform 0.9s;
    transition-delay: 0.5ms;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    animation: spin 1s;
  }

  .rotate .fas {
    position: absolute;
    left: 31%;
    bottom: 18px;
    font-size: 1.5em;
    text-align: center;
    color: white;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  .Entrees a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
  }

  .Entrees h4 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 0 0 10px;
  }

  .Plats h4 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 0 0 10px;
  }

  .Plats a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
  }

  .Desserts a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
  }

  .Desserts h4 {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 0 0 10px;
  }

  .entree {
    text-align: left;
    border-radius: 15px;
    margin: 0 10px 15px 20px;
    background-color: #FFF;
    display: flex;
    /*box*/
    box-shadow: 0px 1px 18px #bfbfbf;
    width: 90%;
  }

  .entree:last-child {
    margin-bottom: 40px;
  }

  .plat {
    text-align: left;
    border-radius: 15px;
    margin: 0 10px 15px 20px;
    background-color: #FFF;
    display: flex;
    box-shadow: 0px 1px 18px #bfbfbf;
    width: 90%;
  }

  .plat:last-child {
    margin-bottom: 40px;
  }

  .dessert {
    text-align: left;
    border-radius: 15px;
    margin: 0 10px 15px 20px;
    background-color: #FFF;
    display: flex;
    box-shadow: 0px 1px 18px #bfbfbf;
    width: 90%;
  }

  .dessert:last-child {
    margin-bottom: 40px;
  }

  .prix {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

  .prix p {
    font-weight: normal;
  }

  .entree span {
    font-weight: bold;
    margin-top: 4px;
  }

  .Entrees p:nth-child(2) {
    font-weight: normal;
  }

  .plat span {
    font-weight: bold;
    margin-top: 4px;
  }

  .Plats p {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0 0 10px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9em;
  }

  .dessert span {
    font-weight: bold;
    margin-top: 4px;
    margin-right: 10px;
  }

  .Entrees p {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0 0 10px 10px;
    font-size: 0.9em;
  }

  .Desserts p {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0 0 10px 10px;
    font-size: 0.9em;
  }

  .button {
    display: block;
    margin: auto;
    background: linear-gradient(#FF79DA, #9356DC);
    font-family: robotoregular;
    border: none;
    border-radius: 25px;
    padding: 15px 15px 15px 15px;
    margin-top: 30px;
    font-size: 1em;
    box-shadow: 0px 4px 5px #bfbfbf;
    text-decoration: none;
    color: #fff;
    width: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .button:hover .button__bg {
    opacity: 1;
    border-radius: 25px;
  }
  .button__bg {
    position: absolute;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c9aaed;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }

  /*footer*/
  .footer {
    background-color: #303030;
    height: 200px;
    width: 100%;
    color: white;
  }

  footer p {
    font-family: shrikhandregular;
    font-size: 1em;
    padding: 15px 0 0 15px;
    margin-top: 0px;
  }

  footer ul {
    list-style-type: none;
    padding: 0 0 0 15px;
  }

  footer ul li {
    margin-bottom: 10px;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  footer .fas {
    margin-right: 10px;
  }
}
@media screen and (min-width: 414px) {
  section .far {
    margin-left: 34%;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  section .far {
    margin-left: 53%;
  }

  .heart .far {
    padding-right: 13%;
  }

  section h1 {
    padding-left: 10%;
  }

  #image img {
    width: 29%;
    margin-left: 29%;
  }

  .Entrees {
    margin-left: 4%;
  }

  .Plats {
    margin-left: 4%;
  }

  .Desserts {
    margin-left: 4%;
  }

  .box {
    width: 12%;
  }
}
@media screen and (min-width: 980px) {
  section {
    top: 0;
  }

  .hero img {
    height: 401px;
  }

  section .far {
    margin-left: 64%;
  }

  section h1 {
    padding-left: 10%;
  }

  #image img {
    width: 17%;
    margin-left: 39%;
  }

  .heart .far:hover {
    color: #9356DC;
    transition-duration: 0.8s;
    font-weight: 600;
    cursor: pointer;
  }

  .box {
    width: 5%;
  }

  .dessert:hover .box, .plat:hover .box, .entree:hover .box {
    transform: scaleX(1);
    display: block;
  }
  .dessert:hover span, .plat:hover span, .entree:hover span {
    margin-right: 0;
  }
  .dessert:hover p, .plat:hover p, .entree:hover p {
    width: 90%;
  }

  .Entrees {
    margin-left: 4%;
  }

  .Plats {
    margin-left: 4%;
  }

  .Desserts {
    margin-left: 4%;
  }

  .button {
    width: 20%;
  }

  #image .fas {
    display: none;
  }

  .prix span {
    transition: left 1s, transform 1s;
    position: absolute;
    left: 88%;
    white-space: nowrap;
  }

  .entree:hover span, .dessert:hover span, .plat:hover span {
    transform: translateX(-249%);
  }
}

/*# sourceMappingURL=menu.css.map */
