@font-face {
    font-family: 'shrikhandregular';
    src: url('shrikhand-regular-webfont.woff2') format('woff2'),
         url('shrikhand-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 425px)
{
	body {
		width: 100%;
    	margin: 0;
	}
	h1,h2,h3 {
		font-family: robotoregular;
	}
	p,span,a,li {
		font-family: robotoregular;
	}
	/*header*/
	h1 {
		font-size: 1.6em;
	}
    #image {
    	text-align: center;
    }
    #image img {
    	width: 40%;
    	margin-bottom:10px;
    	margin-top: 10px;
    }
    .home {
    	background-color:#f6f6f6;
    	height: 340px;
    	width: 100%;
    }
    .formulaire{
    	text-align: center;
    	background-color: #e3e2e2;
    	box-shadow: inset 0px 4px 5px #bfbfbf;
    }
    .formulaire input, label{
		padding: 5px 0 5px 0;
		margin: 10px 0 10px 0;
		font-size:1em;
		font-weight: bold;
		background-color: #e3e2e2;
		border:none;
		text-align: center;
		width: 32%;
	}
	.titre_principal {
		width: 80%;
		margin: auto;
	}
	.home h2 {
		font-size:1.1em;
		font-weight: normal;
	}
	.home h1 {
		margin-top: 25px;
	}
	.home h1,h2 {
		text-align: center;
	}
	.home .fas { 
	    padding-right: 10px;
	}
	.button1 {
   		display: block;
   		margin : auto;
   		background:linear-gradient(#FF79DA, #9356DC);
   		border:none;
   		border-radius: 25px;
   		padding: 15px 15px 15px 15px;
   		margin-top: 30px;
   		font-size: 1em;
   		box-shadow:0px 4px 5px #bfbfbf
	}
	.button1 a {
		text-decoration: none;
		color: #FFF;
		padding: 15px;
	}

	/*body*/
	.Fonctionnement h2 {
		text-align: left;
		padding-left: 15px;
		font-weight: bold;
	}
	.Fonctionnement a {
		text-decoration: none;
		color:black;
		font-weight: bold;
	}
	.Fonctionnement p {
		font-size:1,5em;
	}
	.Fonctionnement span {
		position: relative;
	    left: -98px;
	    border-radius: 100%;
	    padding: 5px 10px;
	    background-color: #9356DC;
	    border:none;
	    color:white;
	}
	.Fonctionnement .menu_2 span {
		position: relative;
	    left: -104px;
	    border-radius: 100%;
	    padding: 5px 10px;
	}
	.menu_1  {
		text-align: center;
		border-radius: 20px 20px 20px 20px;
		margin:0 10px 20px 20px;
		background-color:#F2F2F2;
		padding: 15px 0 10px 0;
		box-shadow:0px 1px 18px #bfbfbf;
		width: 90%;
	}
	.menu_1:active  {
		background-color: #FF79DA;
	}
	.menu_2  {
		text-align: center;
		border-radius: 20px 20px 20px 20px;
		margin:0 10px 20px 20px;
		background-color:#F2F2F2;
		padding: 15px 0 10px 0;
		box-shadow:0px 1px 18px #bfbfbf;
		width: 90%;
	}
	.menu_2:active  {
		background-color: #FF79DA;
	}
	.menu_3  {
		text-align: center;
		border-radius: 20px 20px 20px 20px;
		margin:0 10px 50px 20px;
		background-color:#F2F2F2;
		padding: 15px 0 10px 0;
		box-shadow:0px 1px 18px #bfbfbf;
		width: 90%;
	}
	.menu_3:active  {
		background-color: #FF79DA;
	}
	.menu_1 .fas {
		position:relative;
		left:-50px;
		color:grey;
	}
	.menu_1 .fas:active {
		color: #9356DC;
	}
	.menu_2 .fas {
		position:relative;
		left:-55px;
		color:grey;
	}
	.menu_3 .fas {
		position:relative;
		left:-55px;
		color:grey;
	}
	.restaurant {
		background-color: #F2F2F2;
		height: 1180px;
	}
	.restaurant h2 {
		text-align: left;
		padding-top: 50px;
		padding-left: 15px;
	}
	.resto_1 {
		height:240px;
		width: 90%;
		margin:0 10px 20px 20px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_2 {
		height:240px;
		width: 90%;
		margin:0 10px 20px 20px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_3 {
		height:240px;
		width: 90%;
		margin:0 10px 20px 20px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_4 {
		height:240px;
		width: 90%;
		margin:0 10px 20px 20px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_1 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
		margin-bottom: 10px
	}
	.resto_2 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
		margin-bottom: 10px
	}
	.resto_3 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
		margin-bottom: 10px
	}
	.resto_4 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
		margin-bottom: 10px
	}
	.resto_1 span, p {
		margin: 5px 0 10px 15px;
	}
	.resto_2 span,p {
		margin: 5px 0 10px 15px;
	}
	.resto_3 span,p {
		margin: 5px 0 10px 15px;
	}
	.resto_4 span,p {
		margin: 5px 0 10px 15px;
	}
	.resto_1 span {
		font-weight: bold;
		font-size: 1em;
	}
	.resto_2 span {
		font-weight: bold;
		font-size: 1em;
	}
	.resto_3 span {
		font-weight: bold;
		font-size: 1em;
	}
	.resto_4 span {
		font-weight: bold;
		font-size: 1em;
	}
	.resto_1 .far {
		position: absolute;
    	left: 85%;
    	padding-top: 10px;
    	font-size: 25px;
	}
	.resto_1 .far:active { /* A voir comment faire */
		color:#9356DC;	
	}
	.resto_2 .far {
		position: absolute;
    	left: 85%;
    	padding-top: 10px;
    	font-size: 25px;
	}
	.resto_3 .far {
		position: absolute;
    	left: 85%;
    	padding-top: 10px;
    	font-size: 25px;
	}
	.resto_4 .far {
		position: absolute;
    	left: 85%;
    	padding-top: 10px;
    	font-size: 25px;
	}
	/*footer*/
	.footer {
		background-color: #303030;
		height: 200px;
		width:100%;
		color:white;
	}
	footer p {
		font-family:shrikhandregular;
		font-size: 1em;
		padding: 15px 0 0 0;
	}
	footer ul {
		list-style-type: none;
		padding: 0 0 0 15px;
	}
	footer ul li {
		margin-bottom: 10px;
	}
	footer a {
		text-decoration: none;
		color:white;
	}
	footer .fas {
		margin-right: 10px;
	}

}

