@font-face {
    font-family: 'Raleway-VariableFont_wght';
    src: url('Raleway-VariableFont_wght.eot') format('eot'),
         url('Raleway-VariableFont_wght.ttf') format('truetype'),
         url('Raleway-VariableFont_wght.svg') format('svg');
}
@media screen and (max-width: 425px)
{
	body {
		width: 100%;
    	margin: 0;
	}
	h1,h2,p {
		font-family: Raleway-VariableFont_wght;
	}
	/*header*/
	h1 {
		font-size: 1.5em;
	}
    #image {
    	text-align: center;
    }
    #image img {
    	width: 40%;
    	margin-bottom:10px;
    	margin-top: 10px;
    }
    .home {
    	background-color:#f6f6f6;
    	height: 300px;
    	width: 100%;
    }
    .formulaire{
    	text-align: center;
    	background-color: #e3e2e2;
    	box-shadow: inset 0px 4px 5px #bfbfbf;
    }
    .formulaire input, label{
		padding: 5px 0 5px 0;
		margin: 10px 0 10px 0;
		font-size:1em;
		font-weight: bold;
		background-color: #e3e2e2;
		border:none;
		text-align: center;
		width: 32%;
	}
	.titre_principal {
		width: 80%;
		margin: auto;
	}
	.home h2 {
		font-size:1em;
	}
	.home h1,h2 {
		text-align: center;
	}
	.button1 {
   		display: block;
   		margin : auto;
   		background:linear-gradient(#cc81ec, #8932b0);
   		border:none;
   		border-radius: 25px;
   		padding: 15px 15px 15px 15px;
   		margin-top: 30px;
   		font-size: 1em;
   		box-shadow:0px 4px 5px #bfbfbf
	}
	.button1 a {
		text-decoration: none;
		color: #FFF;
	}

	/*body*/
	.Fonctionnement h2 {
		text-align: left;
		padding-left: 15px;
	}
	.menu_1  {
		text-align: center;
		border-radius: 20px 20px 20px 20px;
		margin:0 10px 20px 10px;
		padding: 5px 0 5px 0;
		box-shadow:0px 4px 5px #bfbfbf;
	}
	.menu_2  {
		text-align: center;
		border-radius: 20px 20px 20px 20px;
		margin:0 10px 20px 10px;
		padding: 5px 0 5px 0;
		box-shadow:0px 4px 5px #bfbfbf;
	}
	.menu_3  {
		text-align: center;
		border-radius: 20px 20px 20px 20px;
		margin:0 10px 50px 10px;
		padding: 5px 0 5px 0;
		box-shadow:0px 4px 5px #bfbfbf;
	}
	.menu_1 p {
		font-size:1,5em;
	}
	.restaurant {
		background-color: #F2F2F2;
		height: 1180px;
	}
	.restaurant h2 {
		text-align: left;
		padding-top: 30px;
		padding-left: 15px;
	}
	.resto_1 {
		height:250px;
		width: 95%;
		margin:0 10px 20px 10px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_2 {
		height:250px;
		width: 95%;
		margin:0 10px 20px 10px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_3 {
		height:250px;
		width: 95%;
		margin:0 10px 20px 10px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_4 {
		height:250px;
		width: 95%;
		margin:0 10px 20px 10px;
		box-shadow:0px 4px 5px #bfbfbf;
		border-radius: 15px 15px 15px 15px;
		background-color: white;
	}
	.resto_1 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
	.resto_2 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
	.resto_3 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
	.resto_4 img {
		object-fit: cover;
		height: 170px;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
	/*footer*/
	.footer {
		background-color: #303030;
		height: 170px;
		width:100%;
		color:white;
	}
	footer ul {
		list-style-type: none;
		padding: 0 0 0 15px;
	}
	.footer img {
		height: 20px;
		text-align: left;
		padding: 15px 0 0 15px;
	}
}